[2015-02-09 23:05] md5 opened #1 "Run as non-root by default"
Like most of the Docker official images, this image is currently configured to run as `root`. I'm opening this issue as a place to discuss what change should be made, if any. See [this discussion](https://github.com/docker-library/tomcat/issues/3) in the context of the `tomcat` image for the sort of issues that can be anticipated for `jetty`.

I can see a few changes/enhancements being made to thi

[2015-02-17 04:02] md5 opened #2 "Remove Jetty 7 and 8 images"
When I initially created this image, I included Jetty 7 and 8 images because "stable-7" and "stable-8" versions are listed at http://download.eclipse.org/jetty/

However, I later discovered that Jetty 7 and 8 were EOL'd as of the end of 2014. Here's what Webtide's [blog post](https://webtide.com/jetty-7-and-jetty-8-end-of-life/) has to say about it:

Removing Jetty 7 and 8 images will have the ben

[2015-02-20 06:19] #2 closed

[2015-02-20 17:11] md5 commented on #2
I've created the [`eol/jetty-7`](https://github.com/md5/docker-jetty/tree/eol/jetty-7) and [`eol/jetty-8`](https://github.com/md5/docker-jetty/tree/eol/jetty-8) branches in case any future security updates are needed for the Jetty 7 or 8 images. Those branches may also be helpful for those who need to support older Jetty versions.

[2015-02-27 01:18] #1 closed

[2015-03-21 18:55] fthamura opened #8 "i install but how to execute remote"
i success install the jetty docker

docker run -d -p 8888:8080 jetty:9

but when try to access to ip:8080, it wont work

any idea?

[2015-03-21 19:09] md5 commented on #8
With that command, you're actually mapping port `8888` outside the container to port `8080` inside.

Try using `http://IP:8888/` (or use `-p 8080:8080`, `-p 80:8080`, etc).

[2015-03-31 20:46] md5 opened #9 "Remove link to https://wiki.eclipse.org/Jetty/Howto/Deploy_Web_Applications"
A user left a comment on the Docker Hub that the docs at https://wiki.eclipse.org/Jetty/Howto/Deploy_Web_Applications contradict what we have in the `README.md`. It looks like that wiki page hasn't been updated since 2013, so that link should either be removed or replaced with a link that points to officially maintained documentation.

[2015-04-02 17:07] chadmichael commented on #9
I think the wiki information worked, while the README.md seems incorrect.  Seems like it might be due to the fact that the README.md is the same for all the various TAG/Versions of the image, but that information doesn't apply across those versions equally.  In my case, I'm using one of the older jetty7 images . . . and the README info is incorrect in that case.

[2015-04-02 17:09] md5 commented on #9
Jetty 7 is EOL'd upstream, so it is no longer supported here. I do have [a branch](https://github.com/md5/docker-jetty/tree/eol/jetty-7) for Jetty 7, but it doesn't have a real `README.md` since that lives in https://github.com/docker-library/docs. The README should only be expected to work for the currently supported versions, which means Jetty 9.

[2015-04-02 17:25] chadmichael commented on #9
That's fair.  I was impressed to find an image of an older version in the first place.

[2015-04-02 17:29] md5 commented on #9
When I get back around to working on this issue, I'll keep in mind the EOL'd Jetty 7 and 8 and try to make it clearer what works and what doesn't.

Thanks for the report! :+1:

[2015-04-07 16:34] md5 commented on #8
@fthamura Did you get this working? Let me know I can close this issue.

[2015-04-18 18:17] DazWilkin opened #10 "Unclear how to deploy webapps"
I'm new to jetty and looking to use it for some testing.

I'm able to run the container and access the jetty server:

    docker run -d -p 8080:8080 jetty:9

Is it correct that the raw container will return a 404 and No contexts by default? All I need for my testing is 200 and so I've resorted to try to build/deploy a helloworld app to achieve this.

I used the Eclipse wiki site to build the Hello

[2015-04-18 18:32] md5 commented on #10
You'll want to mount your exploded WAR directory as a subdirectory of `webapps`, not at `webapps` itself. If you want the app to show up at the root context (i.e. `/`), then you'll need to mount it at `webapps/root`. Otherwise, you'll mount it at whatever your context path is (e.g. `webapps/hello-world` for `/hello-world`).

[2015-04-18 18:40] DazWilkin commented on #10
Thank you.

The exploded WAR was hello-world-0.1-SNAPSHOT. I renamed it to helloworld.

I tried:

[code]

and

[code]

But same-same.

[2015-04-18 18:54] md5 commented on #10
Can you make sure you're using the latest version of the `jetty:9` image? It's possible you're using one from before the `JETTY_BASE` changes. If so, you'd see a warning like this in `docker logs`:

I was just able to to hit a sample WAR at both `/` and `/sample` like this:

[code]

This is what I see in the Docker logs after running that command:

[code]

Notice in particular the `Deployment moni

[2015-04-18 19:37] DazWilkin commented on #10
I really appreciate your help with this.

This works perfectly for me. I'm going to review and see what I'm doing wrong with my helloworld app.

Thank you.

[2015-04-18 20:29] md5 commented on #10
:+1:

If you end up finding anything wrong with the `jetty` image, feel free to reopen this issue.

[2015-04-18 20:29] #10 closed

[2015-05-04 03:42] md5 commented on #9
I've opened a PR to update the `jetty` docs: https://github.com/docker-library/docs/pull/226

[2015-05-04 03:52] md5 commented on #9
I've also updated the `README.md` on the `eol/jetty-7` and `eol/jetty-8` branches to indicate the end-of-life status of those versions.

cf. 29db2952567e966368add1e82ad22ece84f783e1 and 3e97174ba819fe5ae4f55bf1664d6d479119e4d2

[2015-05-04 03:54] md5 commented on #8
I'm going to close this issue. Feel free to reopen if you feel that I've closed it in error.

[2015-05-04 03:54] #8 closed

[2015-05-07 15:33] md5 commented on #9
The docs have been updated to hopefully make deployment clearer, so I'm going to close this issue. Please reopen if I've overlooked something.

[2015-05-07 15:33] #9 closed

[2015-06-17 05:54] md5 opened #13 "Update docs to highlight Jetty 9.3 functionality"
Particularly HTTP/2 support

[2015-07-23 16:49] justjacksonn opened #14 "keyserver issue when building docker image"
Not sure why, but the below bit fails for me with exit code 2. I am building using Ubunut 14.04 and Oracle JDK 8, not sure if the below doesn't execute on Ubuntu?

ENV JETTY_GPG_KEYS 5DE533CB43DAF8BC3E372283E7AE839CD7C58886

RUN set -xe \
	&& for key in $JETTY_GPG_KEYS; do \
		gpg --keyserver ha.pool.sks-keyservers.net --recv-keys "$key"; \
	done

[2015-07-23 16:51] tianon commented on #14
Are you behind a corporate firewall of some kind?

[2015-07-23 16:55] justjacksonn commented on #14
Ok.. to add to this.. the response is below. I go to ha.pool.sks-keyservers.net, and the web page shows up, so I am able to access it. When I put in the gpg key in the ENV JETTY_GPG_KEYS step, the search fails to find it. Is the key correct.. or maybe it's old? I don't know much about this key stuff.. so groping in the dark here.

Step 16 : RUN for key in $JETTY_GPG_KEYS; do gpg --keyserver ha.poo

[2015-07-23 17:19] md5 commented on #14
That "HTTP fetch error 7: couldn't connect: eof" looks suspicious. Maybe there's a bad mirror in the pool?

As far as I know, that key should be fine (cf. https://hkps.pool.sks-keyservers.net/pks/lookup?op=vindex&search=jesse.mcconnell%40gmail.com).

[2015-08-05 18:57] zebehringer commented on #13
I was unable to get the http/2 module running with the latest 9.3 image as-is. I ended up getting it to run by manually installing an ALPN module in a mounted volume (JETTY_BASE), based on the info provided here: https://webtide.com/http2-on-google-compute-engine-with-jetty/

Below are the actual steps I used. I imagine someone with more docker experience could simplify this script a little, but I

[2015-08-05 19:57] md5 commented on #13
This blog post has a better description of the actual issue: http://devtidbits.com/2015/06/23/jetty-9-3-http2-dependancy-issue-with-ubuntu-14-04/

It looks like the problem is that the `openjdk-8-jre-headless` package may have been based on an unstable/developer build of OpenJDK, hence the `-internal` qualifier on the version number.

I'm not sure whether I consider this a Debian bug or a Jetty bu

[2015-08-05 20:11] zebehringer commented on #13
That link helps answer some questions I had (the "-internal" qualifier, mainly), thanks!

I think I would now agree that changing your docker image would not be the ideal solution.
I am running now, and have an easy hack solution, even if it isn't 100% dockerized, so I'm content.

[2015-08-05 20:29] md5 commented on #13
I believe adding a line like this to the Dockerfile would fix things:

[code]

It should probably be modified to skip linking the `*.mod` file if the version doesn't end with `-internal`.

[2015-08-05 21:37] gregw commented on #13
@md5  I agree we should do better:  https://bugs.eclipse.org/bugs/show_bug.cgi?id=474361

[2015-08-05 21:43] zebehringer commented on #13
I'll give that a shot, thanks!

[2015-08-06 00:07] joakime commented on #13
@md5 you don't have to modify the alpn files.

Just pass the java.version on the command line. aka ...

[code]

That will work right now.

(Its how we test alternate java versions, even ones we don't have ourselves)

Meanwhile, we'll fix this in start.jar itself.

[2015-08-06 02:10] md5 commented on #13
@joakime The problem is that there isn't a straightforward way for me to get the string "1.8.0_45" other than parsing the output of `java -version` and stripping the `-internal`. The other alternative would be to munge the package version "8u45" into "1.8.0_45", which seems a bit too hacky to me.

Also, my proposed workaround wasn't to modify the `alpn-impl` files, but rather to symlink the existi

[2015-08-06 02:13] md5 commented on #13
One more thing I'll mention is that there seems to be a proposal for Java 9 to standardize `java.version` strings here: http://openjdk.java.net/jeps/223

[2015-08-06 11:58] joakime commented on #13
The JEP 223 is a welcome news.   Looking forward to it.
We've implemented some java.version sanitation in [master] branch yesterday, it will be available in the next Jetty 9.3.x release.

[2015-08-06 20:52] md5 commented on #13
:+1:​

[2015-08-07 20:52] zebehringer commented on #13
I put -Djava.version=1.8.0_45 in my start.ini file, and that seems to work.
One catch, though, is that I still have to run start.jar with the --create-files option to get the ALPN lib downloaded to $JETTY_BASE/lib/alpn before I can run with the http2 module. Should the dockerfile take care of that for me?

[2015-08-07 22:05] md5 commented on #13
@zebehringer Could you be more specific about the error you're seeing and how you're getting it?

I just ran this command:

[code]

And I wasn't given an error about `--create-files`. After running that command, I see a `lib/alpn` directory under `$JETTY_BASE`, so I'm not sure what issue you're running into.

One thing that did happen, however, is that I was prompted to acknowledge a license excep

[2015-08-07 22:08] joakime commented on #13
As long as the file is in place then the license check/question does not pop up.

But if you still want to use the `--create-files` command line,
then you can also add `--approve-all-licenses` to not have the ack on licenses occur.

[2015-08-07 22:15] md5 commented on #13
I'm not sure what you mean. Don't I need to I run the `--add-to-startd=http2` command to install the module and its dependencies? When I do that, the license prompt comes up. Are you suggesting adding the ALPN dependencies manually or something?

[2015-08-07 22:16] md5 commented on #13
BTW, thanks for the `--approve-all-licenses` tip.

[2015-08-10 15:36] zebehringer commented on #13
I was just setting up the following start.ini file in mounted volume mapped to /var/lib/jetty.

[code]

and here are the logs where it complains about missing files:

[code]

I did run your suggested command with the --add-to-startd=http2 stuff, and that worked, plus it created some start.d files that I probably need anyway. I will go with that solution for setting up http2 instead of --module=htt

[2015-08-10 18:18] joakime commented on #13
@zebehringer just a note, `--add-to-start=http2` is far more common usage than `--add-to-startd=<name>` (note the lack of `d`)

[2015-08-12 03:25] md5 commented on #13
Hi all. I had some time this evening to rework the docs. Please take a look: https://github.com/docker-library/docs/compare/master...appropriate:jetty-document-http2

The `http2`-related commands documented in that branch will only work once the changes from https://github.com/eclipse/jetty.project/commit/d02a5c3c8bbf3fe05b262125358677847b303688 make it into a Jetty 9.3 release. I'll open a PR aga

[2015-08-12 03:35] md5 commented on #13
@joakime The reason I used `--add-to-startd` in the `Dockerfile` is to avoid any potential conflicts with user-provided `start.ini` files.

Was that a bad idea?

[2015-08-12 04:07] md5 commented on #13
FWIW, I just tried testing it in Chrome and it didn't seem to work... :grimacing:

Instead, it still connected with TLS 1.2. I tried testing with `curl`, but I don't have a `curl` with HTTP/2 support handy.

[2015-08-12 04:12] gregw commented on #13
@md5 I actually prefer startd style over start.ini and I use that style when I can.  Having said that there are a few bugs with startd in 9.2, which has forced me to use start.ini, but they are fixed in 9.3

The two styles should be equivalent and simply a matter of taste.

[2015-08-20 16:35] hho opened #15 "Use of headless JRE causes problems"
When a webapp tries to render text (for example, while generating a chart with JFreeChart, PDFs etc.), a NPE is thrown:

[code]

This happens because the underlying JRE is the `openjdk-8-jre-headless` Debian package. The exception goes away when I add the `fontconfig` package to the image. [[1]]

I'd also suggest to set the default `JAVA_OPTIONS` to `-Djava.awt.headless=true` instead of leaving it

[2015-08-20 16:38] md5 commented on #15
Thanks for your report. There has been some previous discussion of this issue here: https://github.com/docker-library/java/issues/46

I'm curious whether setting `JAVA_OPTIONS=-Djava.awt.headless=true` actually fixed anything in your testing. I wouldn't think it would, since JFreeChart is still going to try to render fonts even if that's set.

[2015-08-20 17:02] hho commented on #15
Nope, setting that property didn't change anything for that particular problem. It just feels "more correct" that way; and maybe other libraries are smarter than JFreeChart?

I've pushed my test web app: https://github.com/hho/awttest

[2015-08-20 17:05] md5 commented on #15
I can't see how JFreeChart can draw a chart without using the `java.awt.Font` APIs. It's fundamental to what the library does, so it's not a matter of whether it's smart or not.

[2015-08-20 17:07] md5 commented on #15
FWIW, I've asked the maintainers of the `java` image about putting in a temporary fix.

I don't think we shoud add `libfontconfig1` to the `jetty` image directly since this is a more general problem.

[2015-08-20 17:09] hho commented on #15
Yeah, this is probably better handled in the `java` image there. I'm closing this.

[2015-08-20 17:09] #15 closed

[2015-08-20 17:17] md5 commented on #15
:+1:

[2015-08-20 20:27] md5 commented on #15
@hho This has been fixed in the `java` image, though the updated builds haven't been updated in `docker-library/official-images` yet and thus haven't been pushed. When they do, a rebuild of `jetty` should take place as well. :+1:

[2015-08-20 20:42] hho commented on #15
Thanks! Your turnaround time on this one is amazing!! :+1: :+1: :+1:

[2015-08-20 20:44] md5 commented on #15
Well, it certainly helps that we discussed it almost a month ago :metal:

[2015-08-21 09:22] hho commented on #15
The Java image has been pushed and I can confirm that your Dockerfile now results in Jetty image which works with java.awt. Thanks again!

[2015-08-24 19:12] md5 commented on #15
No problem @hho. Thanks for confirming the fix.

[2015-08-27 04:23] gregw opened #18 "JETTY_BASE chown is missing -R"
The chown of JETTY_BASE is missing -R, so it's contents are still own by root

[2015-08-27 04:29] gregw commented on #18
I'll just wait for an OK before I push the fix to this.... just in case I've got the rough end of the pineapple again:)

[2015-08-27 05:12] md5 commented on #18
Good catch. I'm assuming you're going to move the `chown` after the `--add-to-startd` line as well so that the contents are actually there to `chown` (instead of an empty directory).

[2015-08-27 05:34] gregw commented on #18
I moved the chown to be part of the later one.

[2015-08-27 05:34] #18 closed

[2015-08-27 05:37] md5 commented on #18
LGTM

[2015-08-28 13:48] md5 opened #19 "Updates needed for co-maintainer status"
Now that @gregw is helping maintain this image, we should update the `LICENSE` to correctly reflect the copyright situation (I'm sure that would make some lawyers at the Eclipse Project happy). I also noticed we don't have `MAINTAINER` in the `Dockerfile`, so that should be added as well.

[2015-08-29 07:54] gregw commented on #19
From the Jetty NOTICE.TXT file:

[code]

So distributing under apache 2.0 is fine.

In terms of copyright, I'm happy to assign copyright of any contributions to whomever/whatever holds the current copyright if the project.

[2015-08-29 13:54] md5 commented on #19
The copyright is currently assigned to me, since I've done all the work until recently. My only reasons to think that the copyright might need updating is that there's no formal agreement to assign copyright to me and because this image will eventually be maintained by the Jetty Project.

Perhaps we can just cross that bridge when we come to it.

Thanks for confirming that Apache 2.0 is fine. I ch

[2015-09-01 21:21] sergef commented on #14
According to https://sks-keyservers.net/overview-of-pools.php they have another mirror with :80 available. To go through corporate firewall you can switch to `hkp://p80.pool.sks-keyservers.net:80` pool instead of `ha.pool.sks-keyservers.net`. Command will look like: `gpg --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys "$key"`

[2015-09-01 21:57] md5 commented on #14
In addition to what @sergef mentioned, another way to deal with corporate firewall restrictions is to inform `apt-key`/`gpg` about your outbound HTTP proxy. This can be done by setting the `http_proxy` environment variable or by using the `--keyserver-options http-proxy=URL` command-line option.

@justjacksonn Since you're building the image from scratch with a different base OS image and a differ

[2015-10-01 05:19] md5 commented on #13
I just submitted a PR to the docs: https://github.com/docker-library/docs/pull/353

I would have submitted this sooner, but I didn't realize the Jetty 9.3.3 was released since it doesn't appear to have been announced on the `jetty-announce` mailing list.

[2015-10-01 06:26] gregw commented on #13
Ooops - our bad!

9.3.4 is about a week or 3 away.

cheers

On 1 October 2015 at 15:19, Mike Dillon notifications@github.com wrote:

##

Greg Wilkins gregw@webtide.com CTO http://webtide.com

[2015-10-01 21:01] md5 opened #20 "Document SSL certificate configuration"
This should mostly just point at the main Jetty documentation on the subject, but it would probably be good to add some information about how to set up the keystore for the Docker image/container.

[2015-10-02 22:07] md5 commented on #13
https://github.com/docker-library/docs/pull/353 has been merged.

Looking at those docs made me realize we're not giving any guidance on configuring the SSL key and certificates, so I opened #20 to track that.

[2015-10-02 22:07] #13 closed

[2015-10-02 22:08] md5 commented on #13
Thanks @zebehringer for helping to sort out the `java.version` thing! :+1:

[2015-10-12 13:06] abhishekamralkar opened #21 "Jetty not accessible from LAN in docker"
How to access Jetty running in Docker from LAN? I run jetty in ubuntu 14.04 and tried all sorts of things but no luck , my jetty server runs locally but not accessible from my machine.

[2015-10-12 13:59] md5 commented on #21
What command are you using to run your Jetty container? Are you able to access the container from the Docker host itself?

Unless you've enabled port mapping with `-p`, your container will only be accessible to other containers on the same host or from the host itself using the internal IP address of the container. That may be your problem. Otherwise, it may be a firewall issue or something else e

[2015-10-12 15:00] abhishekamralkar commented on #21
@md5  Thanks for replying. I am able to access jetty from docker itself. I am using below command

[code]

and I enabled JETTY_HOST=0.0.0.0

[2015-10-12 15:43] md5 commented on #21
`JETTY_HOST` shouldn't make any difference with current versions of the image. `0.0.0.0` is the default (inside the container).

What happens when you try to access port 8080 from another host on the network? Do you see anything in `/var/log/messages` about packets being dropped?

[2015-11-25 13:45] emillundstrm opened #22 "Not able to enable http2 in latest image"
Using the command

    RUN java -jar /usr/local/jetty/start.jar --add-to-startd=http2 --approve-all-licenses

in a Dockerfile based on the latest image complains with the following error:

[code]

Which I believe is because there is no alpn-1.8.0_66 file in the /usr/local/jetty/modules/alpn-impl/ folder. I was able to get further by symlinking alpn-1.8.0_60 to alpn-1.8.0_66, but this does not seem

[2015-11-25 17:37] md5 commented on #22
@joakime @gregw Any chance there's a new Jetty release coming soon that might fix this?

Looking at the downloads page, it looks like 9.3.6 was released a couple weeks ago, but I didn't see an announcement on `jetty-announce` :cry:

[2015-11-25 17:39] md5 commented on #22
I just pushed a commit to update to 9.2.14 and 9.3.6: https://github.com/appropriate/docker-jetty/commit/072c632652b4c13ceb78db302411d57d612086b9

I'm a bit busy at the moment, so I'll let Travis build those and see what we get.

[2015-11-25 17:48] md5 commented on #22
I checked the 9.3.6 image and I see a `alpn-1.8.0_66.mod` file. I also see that the tests are passing for my updates, so I've submitted a request to release a new official image for `jetty` versions 9.2 and 9.3: https://github.com/docker-library/official-images/pull/1220

[2015-11-25 23:05] md5 commented on #22
@emillundstrm The 9.3.6 image is now on Docker Hub, although the supported tags in the docs are not yet updated.

Please give it a try and reopen this issue if you're still having problems. Thanks!

[2015-11-25 23:05] #22 closed

[2015-11-26 08:06] emillundstrm commented on #22
I can confirm that it works now. Thanks!

[2015-11-30 16:55] md5 commented on #22
:+1:

[2015-12-16 21:38] johncmckim commented on #20
This would be really helpful. On the main page on docker hub, there is a line that shows running a container like so `docker run -d -p 80:8080 -p 443:8443 jetty`. Naturally, I thought that meant SSL was configured out of the box. However, it doesn't appear to be the case?

I have tried the config below, but it doesn't seem to work. I've probably got some of the jetty-https.xml config wrong. Howeve

[2015-12-17 03:26] gregw commented on #20
@johncmckim
rather than try to assemble the SSL configuration yourself, you'd be better off using the jetty module system to configure SSL, that way you get all the configuration setup for you (other than the keystore which your setup looks good).  So you need something like:

[code]

[2015-12-19 00:36] johncmckim commented on #20
Thanks @gregw that was a big help.

I couldn't get the keytool command to work correctly. I found that they keystore path should be `$JETTY_BASE/etc/ketystore` which is one step in the right direction. However, after this I found I was having issues with the password.

I ended up opting to add the `--create-files` command to your suggestion, which downloads a keystore from the jetty source for you

[2015-12-19 01:03] md5 commented on #20
@johncmckim If you want to use your own passwords, it looks like you'd want to append settings for `jetty.sslContext.keyStorePassword`, `jetty.sslContext.trustStorePassword`, and `jetty.sslContext.keyManagerPassword` to `$JETTY_BASE/start.d/ssl.ini`.

The values for these properties could be generated using `java -cp $JETTY_HOME/lib/jetty-util-$JETTY_VERSION.jar org.eclipse.jetty.util.security.Pas

[2015-12-19 01:15] johncmckim commented on #20
@md5 I tried the jetty-util as you suggested and it hung every time so I gave up.

Mounting an existing keystore makes much more sense. I'll give that a go next week. Any examples would be appreciated.

[2015-12-19 01:28] md5 commented on #20
@johncmckim Were you trying in a VM? I tried that and it hung as well after printing out the "OBF" and "MD5" passwords. I believe the issue is that it's calling `new SecureRandom()` to generate the `CRYPT` password and hanging due to a lack of available entropy.

[2015-12-19 01:31] johncmckim commented on #20
@md5 yes. I was using docker on my windows dev machine. It would be using Virtualbox behind the scenes correct? What you describe is exactly what happened to me. I could see the OBF and MD5 passwords but it would not exit.

[2015-12-19 06:54] md5 commented on #20
I opened this issue to discuss the underlying problem around a lack of entropy causing problems for `java`-based images: https://github.com/docker-library/java/issues/60

[2016-02-09 13:30] zlogic opened #24 "Upgrade to Jetty 9.3.7.v20160115"
Would it be possible to upgrade to the latest jetty 9.3.7.v20160115?
Some of the updated features include a fix for the SLOTH vulnerability: https://github.com/eclipse/jetty.project/commit/0a1b0b2bc69ea7e7f5f44992f47a84f926cdeebb

[2016-02-09 14:24] md5 commented on #24
I've opened #25 with the update. I'll create a PR for `docker-library/official-images` once the tests run.

Thanks for the heads-up! :+1:

[2016-02-09 14:32] md5 opened #26 "Update gpg usage"
See https://github.com/docker-library/official-images/pull/1420 for an example of the current best-practice for GPG verification.

[2016-02-09 14:35] #24 closed

[2016-02-09 14:40] md5 commented on #24
See https://github.com/docker-library/official-images/pull/1426 to track the status of getting an updated image pushed.

[2016-02-09 22:30] md5 commented on #24
The `jetty:9.3.7` image has been pushed to Docker Hub.

[2016-02-12 23:54] md5 commented on #26
GPG usage was updated in #27 to match the work done in https://github.com/docker-library/official-images/pull/1420

[2016-02-12 23:54] #26 closed

[2016-03-25 01:22] chrislovecnm opened #30 "Docker quick fail on web exception"
Hi all

The use case is to have the docker stop when when the default webapp cannot talk to say mysql.

It is my understanding that the following xml is what I need:

[code]

Here is what I have tried:

1. added jetty-web.xml to root.war ... no joy without the name="war" or contextPath
2. added apollobit-web.xml under /var/lib/jetty/webapps no joy

ideas?

[2016-03-25 05:35] md5 commented on #30
@chrislovecnm The answer here looks reasonable: http://stackoverflow.com/a/16158366/1106808

It looks like you may want to set `startWithUnavailable` to `false` for the `ServletHandler` as well.

Also, it's not clear to me whether you renamed `apollobit-web-0.3.war` to `root.war` in your initial test or what. Another thing that stuck out to me is that you're using `jetty.home` instead of `jetty.ba

[2016-03-25 20:16] chrislovecnm commented on #30
@md5 forgot to mention that if I do a setThrowUnavailbleException(true) in an embedded server it works fine. Wondering if I need to use jetty-runner.jar

To clarify. Used apollobit-web.xml with the war named the same. Used root.war with a jetty-web.xml file.

[2016-03-25 21:23] chrislovecnm commented on #30
@md5 adding the `startWithUnavailable` did not help either ...

[2016-03-25 21:50] chrislovecnm commented on #30
So using jetty-runner.jar worked, but I would rather use this docker instead of maintaining our own version of jetty-runner

[2016-03-25 23:07] md5 commented on #30
@chrislovecnm Did you see `UnavailableException` being thrown in your logs?

It sounds like the issue may be that `start.jar` doesn't exit when one of the installed webapps throws `UnavilableException`.

[2016-03-25 23:08] md5 commented on #30
BTW, I found that `startWithUnavailable` defaults to `false`, so setting it shouldn't be expected to have any effect.

[2016-03-26 00:19] chrislovecnm commented on #30
So it sounds like I need to use jetty-launcher ...

[2016-03-26 01:01] md5 commented on #30
Is jetty-launcher yet another thing besides jetty-runner? I'd wait to see
what @gregw says before deciding not to use the Docker image. @joakime may
also have some advice. I also wouldn't jump to conclusions right before a
holiday weekend.

[2016-03-26 01:05] chrislovecnm commented on #30
Sorry typo ... jetty-runner.jar

[2016-03-26 01:06] chrislovecnm commented on #30
Appreciate the help btw!!!

[2016-03-29 23:17] gregw opened #31 "ALPN is not correctly selected due to java version with -"
If ALPN is enabled, the correct module is not selected because the docker jvm has -internal in the version name.  A [PR has been raised on Jetty](https://github.com/jetty-project/jetty-alpn-agent/pull/3) to make our parsing more lenient, but we have also raised an [issue on docker-java](https://github.com/docker-library/openjdk/issues/72) because GA releases should not have - in their version numb

[2016-04-27 21:43] chrislovecnm commented on #30
Using `jetty-runner.jar` instead of Docker ... closing.

[2016-04-27 21:43] #30 closed

[2016-06-10 15:46] Bill commented on #30
@chrislovecnm is there a modern (9.x) version of `jetty-runner.jar`? I see only up to 8.x. [jetty-runner versions](http://mvnrepository.com/artifact/org.mortbay.jetty/jetty-runner)

Out of curiosity: when you moved to `jetty-runner` did you start `FROM` the official `maven` image to bootstrap it? Care to share your (redacted) POM and `Dockerfile`?

[2016-06-10 20:11] joakime commented on #30
mvnrepository.com is bad place to look for maven artifacts, its often wrong, missing information, and even includes information outside of the central repository system.

use http://search.maven.org/ instead (its the official search, is used by eclipse and intellij too, and is maintained by the maven repository maintainers)

that being said, jetty-runner.jar moved to the eclipse.org a while back.

[2016-06-10 21:53] md5 opened #34 "Supported Jetty versions"
I just noticed that there are 9.4.0.M0 and 9.3.10.M0 versions of Jetty after seeing [a comment](https://github.com/appropriate/docker-jetty/issues/30#issuecomment-225283574) from @joakime on #30. I also recall @jmcc0nn3ll commenting that Jetty 9.2 is considered EOL (see [here](https://github.com/appropriate/docker-jetty/pull/32#issuecomment-221319444)).

I wanted to open this issue in anticipation

[2016-06-10 21:59] joakime commented on #34
any Jetty release with `#.#.#.M#` is a milestone / unstable / beta release.

Jetty 9.4 will introduce a few things: easier configuration for embedded users (implemented), javax.websocket 1.1 support (being worked on now), websocket proxy support (planned), including support for JDK9 and it's new JVM level ALPN (implemented).

Jetty 10.x (also underway in master branch) will be Servlet 4.x

[2016-06-10 22:01] jmcc0nn3ll commented on #34
I also have the striped down jetty-home distribution almost ready to go, probably M1 which we can use in Alpine to shrink the size a bit.

[2016-06-10 22:23] md5 commented on #34
@joakime Thanks for the explanation about the `M*` releases. I know that they are milestone releases and I don't generally build docker images for them, although I did build one for 9.3.0.M2. When those images _are_ built, they are only tagged with their full version number, so if we were to build a 9.4 image before the official release, it would not be tagged `jetty:9.4`, but only `jetty:9.4.0.M#

[2016-06-10 22:25] md5 commented on #34
As for a `jre9` image to complement the Java 9 support in Jetty 9.4, that's going to depend on https://github.com/docker-library/openjdk/issues/29. I haven't checked up on the status of OpenJDK 9 packaging in Debian for a while.

[2016-06-10 23:40] chrislovecnm commented on #30
@bill you figure it out?

[2016-06-10 23:44] md5 commented on #30
@chrislovecnm @Bill Do you mind taking your discussion to email since you're talking about _not_ using this Docker image?

[2016-06-11 01:16] jmcc0nn3ll commented on #34
sounds good, I'll help get it wired up when we push it out, maybe a week or
two

##

jesse mcconnell
jesse.mcconnell@gmail.com

On Fri, Jun 10, 2016 at 5:25 PM, Mike Dillon notifications@github.com
wrote:

[2016-06-13 16:28] #19 closed

[2016-06-13 16:29] #14 closed

[2016-06-20 15:54] jeremypumphrey opened #35 "jetty docker usage"
I'm trying to use jetty to deploy a 1.7 war file. My Dockerfile has only this:
FROM jetty:jre7
ADD  target/match-rules.war /var/lib/jetty/webapps/

The docker container starts
95fcb5134f70        matchbox/nci-match-rules   "/docker-entrypoint.s"   15 seconds ago      Up 14 seconds       0.0.0.0:8080->8080/tcp, 0.0.0.0:10250->10250/tcp   Rules

Is this correct or should I copy the CMD line from the

[2016-06-20 16:43] md5 commented on #35
You don't need to add a `CMD` line to your own Dockerfile. These lines look suspect:

[2016-06-28 07:19] step76 opened #37 "How to configure Java heap"
Is there a way to configure Java heap, or how to pass custom flags to the java VM?

[2016-06-28 17:04] md5 commented on #37
@step76 Right now, the only way to do this is to replicate the default command with your additional flags.

Here's what it looks like in a Dockerfile:

[code]

Here's what it looks like on the command line:

[code]

[2016-06-28 17:08] md5 commented on #37
@gregw This seems to be a drawback of moving away from `jetty.sh`. Do you guys have any plans to introduce a `jetty` shell script that has less `init` cruft than `jetty.sh` but still allows for setting things like this via `JAVA_OPTIONS`?

[2016-06-28 22:36] gregw commented on #37
We could look at that, but it would be very difficult to come up with a one size fits all script.

Isn't the solution here to modify the docker-entrypoint.sh script to inject $JAVA_OPTIONS into the default command line?  Perhaps we change the default CMD to just be the arguments to java, as the entry point already handles that and injects a java command.     That way if somebody explicitly specifi

[2016-06-28 22:59] md5 commented on #37
@gregw If we put that into the entrypoint, then the `CMD` stops being self-documenting. Right now, the entrypoint only injects the default `java` command if a non-executable argument is passed as the first argument to the `docker run` command.

I'd rather not have the default `CMD` just be the arguments to `java`, since the user would still have to remember to add `-jar /usr/local/share/jetty/star

[2016-06-28 23:07] gregw opened #38 "docker_entrypoint script incorrectly inserts the tmpdir property"
The current CMD has `-jar start.jar` before `-Djava.io.tmpdir=...`.  This forces start.jar to always fork a new JVM.

We should consider putting the -D first, so a new JVM is only required if a module is enabled that needs additional JVM args (eg ALPN).

[2016-06-28 23:07] gregw commented on #37
@md5 quick explanation of the ordering and then I'll consider other points in another comment.   The start.jar mechanism can look at the modules and determine that jvm args are needed (Eg if ALPN was enabled), so in that case start.jar will fork another JVM instance.  Putting the -D after the -jar means that the JVM arg is for the JVM that will run jetty and not for the instance that will run star

[2016-06-28 23:11] gregw commented on #37
So how about making the CMD:

[code]

Note the \$, so the entry point script can look for unexpanded $JAVA_OPTIONS and do the expansion.   This would allows users to over-ride the command and decide to either use that expansion or instead directly specify all their args

[2016-06-28 23:12] gregw commented on #37
@md5 Ah regarding the ordering issue - no that does indeed look broken!   I'll comment on #38

[2016-06-28 23:14] gregw commented on #38
This issue is a misunderstanding!  The issue pointed at by @md5 was not that the `-D` was after the `-jar start.jar`, but that in the entry point it is between the `-jar` and the `start.jar`.  That is just broken!

[2016-06-29 03:54] md5 commented on #37
@gregw I'm not too keen on detecting the unexpanded `$JAVA_OPTIONS`... I started to write up something that looks if `"$1"` is `java` and `$JAVA_OPTIONS` is set to a non-empty value, but what I was writing would fall down if someone set both `$JAVA_OPTIONS` _and_ a custom command starting with `java`.

@tianon Do you have any thoughts on this? To summarize:
- Our current `CMD` is `CMD ["java","-Dj

[2016-06-29 03:55] md5 commented on #37
@tianon Also, as you may remember, this image originally called `jetty.sh`, which _does_ know to look for Java options in an environment variable, but we moved away from it because it has too much `init`-specific logic in it.

[2016-06-29 04:16] gregw commented on #37
@md5 Currently we have CMD and entry point:

[code]

Which has the benefit of making the default command line visible in the docker file.

However, let's say the distribution had a suitable `jetty-start.sh` script, then the docker file would end up being just:

[code]

and we'd lose visibility of the default command line anyway.

So can we not just have an empty default CMD and move all the defaul

[2016-06-29 04:25] md5 commented on #37
@gregw I think losing visibility of what's inside the `jetty-start.sh` script would be fine, assuming that script was the standard way to start Jetty and the ways to affect its behavior were well documented (as it is in the case of `elasticsearch`, `neo4j`, etc).

Since that's not currently the case and it doesn't seem to be on your roadmap, then I think doing _something_ in the entrypoint makes s

[2016-06-29 05:36] md5 commented on #38
It looks like it's actually not broken...

If you look at the source for the `java` command, it doesn't strictly check that the JAR file name comes after `-jar`. All it does is check that there is at least one argument after `-jar`, but it doesn't immediately capture that argument as the JAR file name. When it finds `-jar` and sees that there are still arguments after it, it continues in a loop th

[2016-06-29 05:47] gregw commented on #38
whew! I knew I had tested that functionality!      So not broken, but not desirable either.

[2016-06-29 05:56] md5 commented on #38
I'm working on a PR

[2016-06-29 06:03] md5 commented on #38
Fixed in https://github.com/appropriate/docker-jetty/pull/39

[2016-06-29 06:25] md5 commented on #34
@jmcc0nn3ll FYI, I pushed up a [`jetty-9.4`](https://github.com/appropriate/docker-jetty/tree/jetty-9.4) branch based on `9.4.0.M0`. I don't plan to submit a `jetty:9.4` image to Docker Hub, but if you want to make any changes you can target any PRs there.

[2016-06-29 06:25] #38 closed

[2016-06-29 12:45] jmcc0nn3ll commented on #34
sure thing, plan is to have a new 9.4 milestone build in the next week or
three and then I'll get a PR there for you

##

jesse mcconnell
jesse.mcconnell@gmail.com

On Wed, Jun 29, 2016 at 1:25 AM, Mike Dillon notifications@github.com
wrote:

[2016-06-30 19:28] clinoge opened #42 "Can't set extended attributes on derived image"
As suggested in #41 I derived an image from `jetty` with the following Dockerfile:

[code]

Once build is completed, java binary has no extended attributes. If I start an interactive session and set them manually they do work though.

I'm using docker with devicemapper loop sparse files and XFS as backing filesystem (as reported by `docker info`).

Any hint would be appreciated ;).

[2016-06-30 20:31] md5 commented on #42
Does `getfattr` show the attributes?

[2016-06-30 20:33] md5 commented on #42
This looks related: https://github.com/docker/docker/issues/23125

[2016-06-30 21:20] el-chogo commented on #42
Yeah, apparently those attributes need to be set at container run time. I will do so, as the other workaround (adding ELF exception markers through `paxctl`) doesn't work on my distro (ArchLinux).

[2016-06-30 21:20] #42 closed

[2016-07-01 02:13] gregw commented on #37
@md5 as @tianon is currently silent, I've had a look at some of the docker images he works on:
haproxy has a [Dockerfile](https://github.com/docker-library/haproxy/blob/master/1.6/Dockerfile) that does include visible CMD:

[code]

But interesting the [docker-entrypoint.sh](https://github.com/docker-library/haproxy/blob/master/1.6/docker-entrypoint.sh) script inspects and modifies that CMD.  If it

[2016-07-01 02:43] md5 commented on #37
Sounds good. It make take me a few days to review since we're coming into a
holiday weekend here in the US

[2016-07-06 07:12] gregw commented on #37
@md5 I created the PR. However I could not find a script `generate-stackbrew-library.sh`, but I did run the test/run.sh script

[2016-07-06 19:18] md5 commented on #37
It's in this repo: https://github.com/appropriate/docker-jetty/blob/master/generate-stackbrew-library.sh

[2016-07-06 20:58] tianon commented on #37
Oh man, my inbox is such a train wreck; sorry I missed this entire conversation!  Glad it ended up in a solid place in spite of me! :+1:

[2016-07-06 21:53] gregw commented on #37
@md5 Argh!  I missed the alpine subdir!   Plus my manually updated stackbrew listed a newer tag for the alpine version!

Standby....

[2016-07-06 22:07] gregw commented on #37
@md5 Here is another PR fixing alpine and also removing the now unused ENV variables

[2016-07-08 02:01] gregw commented on #37
Reopening as we need to update documentation.

[2016-08-11 09:15] lfoppiano commented on #37
Hi, It's not that easy to follow the thread, at the end what would be the implemented solution?
Which version should I use?
Thanks
Luca

[2016-08-11 15:43] md5 commented on #37
@lfoppiano You would pass `-Xmx` to the container via the `JAVA_OPTIONS` environment variable:

[code]

If you have a derived image that is `FROM jetty`, then you can use the `ENV` directive in your `Dockerfile` instead.

@gregw Would you still be willing to create a PR for the `jetty` image documentation so this information is easier to find?

[2016-08-11 17:17] lfoppiano commented on #37
@md5 thanks.

To check that the parameters are correctly set, I need to connect to the container

and check the environment variable:

[2016-08-11 17:28] md5 commented on #37
There's not really a straightforward way to do that, but here are some options:
- You can call `Runtime.getRuntime().maxMemory()` in your code
- You can look at the `java.lang:type=Memory` MBean via JMX
- You can install a JDK inside your container and use `jinfo` via `docker exec`

The third option looks like it's a bit problematic however... I can't actually get `jinfo` to tell me anything, eith

[2016-08-15 21:51] md5 opened #46 "Switch to "openjdk" base image instead of "java""
The `java` image is being deprecated in favor of `openjdk`. We should switch the base image for `jetty` to be `FROM openjdk`. The `java` image will no longer receive updates after December 2016. See https://github.com/docker-library/official-images/pull/2046 and https://github.com/docker-library/docs/pull/660

[2016-08-26 19:02] stevensouza opened #47 "Running docker-jetty on mac"
New to docker, so may be missing something obvious but i can't get this image to serve pages on my mac.  Any help is appreciated.

1) I run the following from my mac:
docker run -d jetty

2) And then the following to get the container-ip:
docker-machine ip

3) And then put the following on my macs chrome browser:
http://container-ip:8080/

I get the following message in the browser: This site can’

[2016-08-26 23:29] md5 commented on #47
The IP address you get from `docker-machine ip` is not a container IP, but rather the IP address of the Linux VM running the Docker daemon. This is a different IP address from the container's IP address, which is isolated to an internal bridge network within the VM and not accessible from your Mac.

If you want to access the Jetty service from your Mac, you'll need to publish the port the the VM's

[2016-08-27 10:06] stevensouza commented on #47
Thanks Mike. It still isn't working for me.  I am using the docker mac toolbox (VirtualBox) and the Docker Quickstart Terminal. I'll look into the other option you mentioned.

Having said that I run:  docker run -d -p 8080:8080 jetty

And then 'docker inspect containerid'.  I get the following.  Should  this be my ip                   "IPAddress": "172.17.0.2"?  I try http://172.17.0.2:8080, http:

[2016-08-27 11:05] stevensouza commented on #47
Ok, Mike thanks for the tip to install 'Docker for Mac'. I installed it and jetty worked the first time I ran it.  Not sure what the problem was with using Docker Toolbox and Virtualbox, but it is working now so thanks much!

Steve

[2016-08-27 11:16] stevensouza commented on #47
Ok, still a question.  I run the following command and I can access jetty with http://localhost:8080 - docker run -d -p 8080:8080 -p 8443:8443 jetty

But if I run the following and use 'docker inspect containerid' to get my IP address that doesn't work?: docker run -d jetty

Should it? What is the best way to get my container ip?

[2016-08-27 14:40] md5 commented on #47
You generally don't care about your container IP address. It's really only
used for talking between containers.

For that purpose, you probably want to look into the “docker network”
functionality which will allow inter-container communication by name. See
https://docs.docker.com/engine/userguide/networking/

You'll also probably come across documentation for the legacy “--link”
functionality and

[2016-08-27 16:00] stevensouza commented on #47
Ok, thanks again that makes sense.  Then I am up and running for now.  Have a great weekend!

[2016-08-27 16:02] md5 commented on #47
:metal:

[2016-08-27 16:02] #47 closed

[2016-08-30 00:34] #46 closed

[2016-09-30 22:39] md5 commented on #34
FYI, I just updated the `jetty-9.4` branch to Jetty 9.4.0.RC0.

@jmcc0nn3ll Did you make any progress with the slimmed down `JETTY_HOME` you mentioned in your earlier comment?

Also, I noticed that https://github.com/docker-library/openjdk/issues/29 was closed about a month ago (and the actual image was added back in November 2015 and I commented on it...), so there is now an `openjdk:9` image we

[2016-09-30 22:43] md5 commented on #34
FWIW, it looks like there is not an Alpine variant of the JRE 9 `openjdk` image.

[2016-10-01 00:02] md5 commented on #37
I opened a PR for the docs here: https://github.com/docker-library/docs/pull/709

[2016-10-01 13:02] jmcc0nn3ll commented on #34
@md5 yes, there is now a org.eclipse.jetty:jetty-home artifact that contains as stripped down distribution as we can make and still have all the nuts and bolts of Jetty bundled up.  We now use it in the jetty-distribution artifact as the starting point and bring in the elements of the demo-base, etc.  I have been planning on giving a PR with this but figured I would wait for RC1 which is targeted

[2016-10-01 13:05] md5 commented on #34
Sounds great

[2016-10-03 14:19] lfoppiano commented on #37
cool stuff! :)

[2016-11-07 09:39] tlvenn commented on #15
While the default image is indeed fixed, the alpine based image is not however :(

[2016-11-11 19:18] md5 commented on #15
@tlvenn See https://github.com/docker-library/openjdk/issues/73 where we discussed a workaround.

[2016-12-19 09:37] panuhorsmalahti opened #52 "Support Jetty 9.4"
Currently there's no tag for version 9.4 of Jetty.

[2016-12-19 15:17] md5 commented on #52
See #51

[2017-02-15 16:30] bpogrebi opened #54 "How to configure logback-access"
Hi, I have a problem getting access logs using logback. I was able to correctly get application logs by adding my logback.xml to  $JETTY_BASE/resources.
Added logback-access.xml to $JETTY_BASE/resources and also added logback-access to "--modules"
Any help is appreciated.

[2017-02-25 02:43] #34 closed

[2017-03-27 15:52] tholu opened #56 "How to use with mongo session manager"
I'm trying to configure mongo (running on the docker host) as a session manager for jetty, but if fails because it cannot connect. Does anybody have a working example of how this can be achieved?

I'm getting this exception:

[code]

I actually try to overwrite the config like that in my Dockerfile:

[code]

It seems that the config done in `/var/lib/jetty/jetty.xml` is ignored, where I set the `S

[2017-03-27 19:21] tholu commented on #56
I got it working by adjusting the Dockerfile like this:

[code]

It now replaces the local config file in `/usr/local/jetty/etc/jetty-nosql.xml`. You also have to make sure that `mongo` listens on the right ip address or on `0.0.0.0`.

[2017-03-27 19:21] #56 closed

[2017-03-27 19:26] md5 commented on #56
Glad you figured it out. I would probably recommend a containerized Mongo in this case instead of running it on the Docker host.

[2017-03-27 19:50] tholu commented on #56
@md5 Yes you're right, but then you still have to change the mongo URL from 127.0.0.1 to `mongo` (or how you name the container), and figuring out how to do this was the hard step here (at least for me).

[2017-05-02 21:56] md5 commented on #37
With the latest `jre8` images, it should also be possible to use Docker's cgroup-based memory limits to configure the heap using the `-XX:+UseCGroupMemoryLimitForHeap` JVM option. See https://github.com/docker-library/openjdk/pull/71#issuecomment-298045994

Here's an example command that gives the container 600 megabytes and give the JVM half of that memory:

[code]

I'm going to close this issue

[2017-05-02 21:56] #37 closed

[2017-05-02 21:58] md5 commented on #31
I believe this has been fixed for a year or so.

[2017-05-02 21:58] #31 closed

[2017-05-10 10:10] SchulteMarkus opened #61 "Provide Jetty-images with JDK instead of JRE"
Hi,

thanks for providing docker-Jetty-images.
In my use case, I do not only want to use Jetty, I have to use JDK (instead of JRE), too¹.
It would be great, if you could provide additional docker-Jetty-images, which contain JDK instead of JRE.

¹
In special: Within my docker-image, I want to be able to use [v8](https://developers.google.com/v8/). And I want to have [Alpine](https://hub.docker.com/

[2017-05-10 11:08] gregw commented on #61
So firstly, can you explain your use-case a bit more for why you need the JDK rather than JRE? Assuming a reasonable answer to that, I think a better approach may be to adopt an approach where the one maven module is parameterized so the Dockerfile is templated out with either FROM openjdk-jreX or FROM openjdk-jdkX

[2017-05-10 11:09] SchulteDev commented on #61
Updated desciption.

[2017-05-10 13:32] md5 commented on #61
I think you should be able to put this in your Dockerfile to install the extra JDK bits for Alpine:

[code]

The `openjdk8` package in Alpine depends on `openjdk8-jre` and adds the extra files and dependencies. The situation with Debian is analogous.

[2017-05-10 13:34] SchulteDev commented on #61
Thanks for your suggestion, I will have a try. Feedback probably next Monday.

[2017-05-10 13:36] md5 commented on #61
Sure thing. I'm going to close this issue. We can reopen it if my suggestion doesn't work. FYI, I updated the Dockerfile snippet to have the Alpine `FROM` image.

[2017-05-10 13:36] #61 closed

[2017-05-11 09:17] SchulteMarkus opened #63 "Bypassing start.jar when starting Jetty"
Hi,

Jetty's start-time can be decreased by [bypassing start.jar](https://www.eclipse.org/jetty/documentation/9.4.x/quickstart-webapp.html#_bypassing_start_jar).

Please add this improvement to the docker-jetty images.

[2017-05-11 13:59] gregw commented on #63
The problem with baking in the `start.jar` bypass into a base docker image, is that extended images will need to regenerate the saved commands whenever they change the jetty configuration.

It may be preferable to simply document how it can be done in a extended docker image rather than put something in the base.

I'll do that at least for a start...

[2017-05-11 14:04] SchulteDev commented on #63
Maybe a mix? Let's say, a predefined command, which I can use in my extended docker image, or a script within the docker image for re-usage; combined with some documentation.

[2017-05-13 20:06] md5 commented on #63
@SchulteMarkus I agree with @gregw that baking this into the image is problematic. I also don't see it being much help to have a predefined command when you can pretty easily do something like this:

[code]

[2017-05-15 10:04] SchulteDev commented on #63
I would prefer not to overwrite ENTRYPOINT from jetty-image

[2017-05-16 19:03] gregw commented on #63
@SchulteMarkus the entry point is already a rather complex script and I'm fearful that it could be very confusing if we added quickstart support.

For example, let's say we make it auto-detect a quick-start.sh script and run it if it exists, then what should the entry point do if it passed extra argument which it would normally add to the command line passed to start.jar.

I can see somebody tryin

[2017-05-17 08:58] SchulteDev commented on #63
@gregw Thanks for you detailed statement.
I think you are right. The increased complexity, both on the docker-jetty internals as well as docker-jetty-user-site (different usecases, debugging...), do not legitimate the needed modifications. There would be disadvantages left.

A documented example would be nice, though.

I gave the [example](https://github.com/appropriate/docker-jetty/issues/63#issu

[2017-05-17 13:47] md5 commented on #63
Getting `$JAVA_OPTIONS` to work from `-e` would be tricky. You would either need to interpolate it into the output of `--dry-run` or the output would need to have it already.

As for `SIGINT` not working, that's a bit surprising. My example is using the `ENTRYPOINT []` form and has an `exec` in the generated script, so `java` should end up as PID 1. I just checked both the normal `jetty:9.4` conta

[2017-05-23 11:26] gregw commented on #63
With regards to quickstarting the webapps themselves, at the moment a webapp has to self declare that it wants to be quickstarted, so it is difficult to impose quick start externally.  However, we will shortly fix that in 10.0.0, so any webapp can be made to quickstart on the second run. I may backport those changes to 9.4.0 along with a change that makes it easy to start/stop the server from a Do

[2017-05-23 15:53] md5 commented on #63
@gregw Sounds great!

[2017-05-24 10:44] gregw commented on #63
Actually,  there are some reasons that we may want to put a start.jar bypass into the normal entrypoint.   The jetty start.jar may start jetty itself, or it may spawn another JVM to run jetty.  It does the later if there are modules enabled that have system properties or boot path configurations, as once start.jar is running it is too late to reconfigure many parts of the JVM.

So there are two is

[2017-06-12 16:50] md5 opened #68 "Review additional architecture support"
As of https://github.com/docker-library/openjdk/pull/121, the `openjdk` base image supports additional architectures where the JRE is available on the given base OS. In practice, this means amd64, arm32v7, arm64v8, i386, ppc64le, and s390x for JRE 7 and 8, as well as amd64 for JRE 8 on Windows.

To the extent possible, I think we should have variants of the `jetty` image for these additional platf

[2017-06-13 07:48] gregw commented on #68
To support this, should we change to a build that always runs an `update.sh` style script to generate all the variants and then build the images from the generated directories?

[2017-06-13 13:55] md5 commented on #68
My understanding is that the `bashbrew` tool used to build the official images should cover most cases without adding new `Dockerfile` variants.

If you take a look at the PR I linked for `openjdk`, you'll see that all they changed was the `generate-stackbrew-library.sh` file.

In the case of Jetty, I think we mainly need to worry about the native code bits. Since the build relies on having those

[2017-06-13 17:03] tianon commented on #68
Indeed -- please don't create a separate `Dockerfile` per architecture if it's avoidable.

We've converted most of the `docker-library` images to support multiarchitecture, and so far, only the "base" images _really_ need separate sources (Debian, BusyBox, etc); most other differences can be handled from a single `Dockerfile` source, which makes both maintenance and review easier. :smile: :+1:

Re

[2017-06-13 17:09] tianon commented on #68
See also https://github.com/znc/znc-docker/pull/3#issuecomment-308184441 for more thoughts/links. :innocent:

[2017-07-13 19:31] mmorejon commented on #35
I have the same problem. Any suggestion?

[2017-08-15 01:39] longquan7 opened #69 "support arm64 architecture"
I use the docker-jetty/9.4-jre8/Dockerfile to build image on arm64 architecture and successed,so I think we can add it to support arm64 architecture.

[2017-08-15 18:16] md5 commented on #69
@longquan7 I'm going to close this in favor of #68. Would you mind commenting on that issue to provide more information on your `Dockerfile` and command/configuration you used to run your container?

As I mentioned in that issue, the main things I'm concerned about testing on ARM are whether the `setuid` module works and whether other modules that leverage native libraries (like UNIX socket suppor

[2017-08-15 18:16] #69 closed

[2017-08-16 01:04] longquan7 commented on #68
@md5 I want to know the jetty image whether or not support arm64 architecture

[2017-08-16 01:15] gregw commented on #68
@tianon can you suggest a good exemplar of a multiarchitecture Dockerfile and I'll have a go at converting jetty to use best practises... and include arm64 along the way if possible.

[2017-08-16 01:21] longquan7 commented on #68
@gregw I know the node image is support different architecture and you can look at this https://github.com/nodejs/docker-node/tree/c044d61e6d02756bb8ed1557b2f0c7a0d7fead6f

[2017-08-16 01:56] md5 commented on #68
@longquan7 the node image is pulling down prebuilt versions of Node, packages for each architecture.

For Jetty, there would have to be versions of setuid.so for each architecture, along with a working version of JNR. Greg can correct me if there are other non-JDK native dependencies. We also need to consider musl v. glibc due to the Alpine image.

[2017-08-16 02:10] longquan7 commented on #68
@md5 ok, I understand, Please let me know if there's any progress

[2017-08-16 03:24] gregw commented on #68
@md5 The next 9.4 release will add a [conscrypt](https://github.com/google/conscrypt) module. We use the uber jar, but that only has support for:
- windows-x86_64
- osx-x86_64
- linux-x86_64

Note that other the setuid, the other native dependencies are all optional.   Even for setuid, we could change user prior to running jetty and avoid the native code.  We bind to 8080, so starting as root is p

[2017-08-16 03:27] longquan7 commented on #68
@gregw It's not support arm64?

[2017-08-16 03:53] gregw commented on #68
@longquan7 I can't see a conscrypt build for arm64, but as an optional module I don't think that is a big issue as you can run with java SSL (like jetty has up until 9.4.7).

However, we don't build a setuid.so for arm64.   We could do  that, but I'd be more inclined to stop using setuid rather than restrict our architectures to what it is available on.

[2017-08-16 04:00] gregw commented on #68
I just did a quick test and it works fine (for simple testing) to remove the setuid module and add a `USER jetty` to the Docker file.

That would remove the only native dependency in the default settings.

ALPN would be the most common other native dependency.  However once jdk9 is available there will be ALPN support in the JVM, plus there is some talk of having that back ported to jdk8.

[2017-08-16 06:08] longquan7 commented on #68
@gregw I just develop on the arm64 architecture,So I hope that some images can be support arm64 architecture

[2017-08-16 17:24] md5 commented on #68
@gregw I'm fine changing the default behavior to immediately run as `jetty`, as long as it's all well documented how to start as `root` and use `setuid` if that's what someone wants to keep doing for some reason.

[2017-08-17 03:11] gregw opened #70 "Avoid setuid usage"
setuid usage requires native libraries that reduces the architectures that can be supported out of the box.  We should avoid setuid and document how it can be used if desired. (see discussion in #68)

[2017-08-17 03:11] gregw commented on #68
I opened #70 to remove setuid as a separate issue to supporting additional architectures

[2017-08-17 06:05] gregw commented on #63
@SchulteMarkus I have merged the PR that avoids start.jar.   Please report any issues.

[2017-08-17 06:05] #63 closed

[2017-09-20 20:44] tianon commented on #68
I see https://github.com/appropriate/docker-jetty/pull/72 is open to solve the `setuid` issue -- anything more we can do to help move this along? :pray: :heart: :+1:

[2017-09-20 21:42] gregw commented on #68
@tianon, I'll update the PR later today

[2017-09-21 09:45] #70 closed

[2017-09-26 11:41] vaibhavsood opened #74 "ppc64le dockerhub images"
Hi, I'm looking to enable docker containers for packages like jetty for multiple architectures on dockerhub, starting off with a focus on ppc64le. Wanted to check on the work that will be involved to do that

I have locally been able to successfully test ppc64le changes to the dockerfiles in this repo - changes for enabling additional arch would be minimum.

Would like to know how a multi-arch ima

[2017-09-26 14:15] tianon commented on #74
This is a duplicate of #68 (which has a bit of discussion about this topic already) :+1:

[2017-09-26 14:16] tianon commented on #68
If you're still looking for a decent example that's more similar to Jetty, Tomcat is probably worth taking a look at: https://github.com/docker-library/tomcat/blob/8a2acf4ccfa691465fa41c0828ab6ea47225dfd0/8.5/jre8/Dockerfile

[2017-09-26 17:23] iwangxiaodong opened #75 "hope docker jetty version update to 9.4.7.v20170914"
https://store.docker.com/images/jetty

now is 9.4.6.v20170531

hope docker jetty version update to 9.4.7.v20170914

Thanks！

[2017-09-27 03:08] md5 commented on #75
See the discussion in #73. I don't think 9.4.7 will be pushed to Docker Hub, but 9.4.8 should be coming soon.

[2017-09-27 03:10] md5 commented on #74
Thanks @tianon

@vaibhavsood Please discuss on #68

[2017-09-27 03:10] #74 closed

[2017-09-27 16:30] iwangxiaodong commented on #75
Okey!
I See!

[2017-09-28 12:25] mkrogh opened #76 "JAVA_OPTIONS not working"
It would seem with the latest release of jetty:9-alpine and jetty:latest `JAVA_OPTIONS` set via environment variable is not working.

Simple test case:
[code]

Check command run with `docker top jettymem`, the -Xmx1G is not present even though you can see it is set with `docker exec -ti jettymem sh -c ' echo "$JAVA_OPTIONS" '`

[2017-09-28 14:06] tarator opened #77 "Can't modify files in container anymore when using jetty:latest as Baseimage for Dockerfile."
I'm using `jetty:latest` as Baseimage in my Dockerfile (`FROM jetty:latest`)

I used to modify some parts within the Container with statements in my Dockerfile like:

    RUN rm -f /etc/localtime && ln -snf /usr/share/zoneinfo/$TIMEZONE /etc/localtime && echo $TIMEZONE > /etc/timezone

    RUN apt-get update && \
        apt-get -y upgrade && \
        apt-get -y install foo bla && \
        apt-g

[2017-09-28 14:33] dylanbehetre commented on #76
I have exactly the same issue with the jetty:9.4.7-jre8-alpine version

[2017-09-28 17:56] md5 commented on #76
I have a proposed fix at https://github.com/appropriate/docker-jetty/pull/78

@mkrogh @dylanBehetre Can you test it out?

[2017-09-28 17:57] md5 commented on #77
@tarator You'll need to switch to `USER root` and then switch back to `USER jetty` to make this work. This change happened as a result of #72

[2017-09-28 18:07] tarator commented on #77
Thanks @md5 ! Adding the statement `USER root` before, and `USER jetty` after the the modifying statements does the trick!

[2017-09-28 18:07] #77 closed

[2017-09-28 23:46] gregw commented on #76
@md5 tested with
[code]
works for me !

[2017-09-28 23:49] gregw opened #79 "Empty Continuation line warning in Dockerfile"
With `Docker version 17.09.0-ce, build afdb6d4` I have started getting the following warnings when building:

[code]

The source for that line is
[code]

So I think the comment style is confusing the warning.    We could either fix this in `docker-jetty` by reformatting and avoiding the problem... or perhaps it is an issue that should be escalated to docker itself?

[2017-09-29 03:16] tianon commented on #79
Yep that was a Docker bug; see https://github.com/moby/moby/pull/35004. 👍

[2017-09-29 09:44] #79 closed

[2017-09-29 15:52] #76 closed

[2017-09-29 21:08] jeremy-im opened #80 "USER jetty + /generate-jetty-start.sh = Permission denied"
`/generate-jetty-start.sh: 3: /generate-jetty-start.sh: cannot create /jetty-start: Permission denied`

[2017-09-29 22:22] md5 commented on #80
Can you post your `Dockerfile`?

It looks like you need to temporarily switch to `USER root` for that command and then switch back to `USER jetty`.

[2017-09-30 09:12] gregw commented on #80
@md5 This looks like it is going to be a common issue.  Perhaps we should put some explicit code into the script so that it gives a reasonable warning and explanation that USER needs to be switched back to ROOT.   We should then probably warn in the entry point if the USER is not switched back to `jetty`

[2017-10-01 00:52] md5 commented on #80
@gregw Sure, that sounds good. I think it would also be good to put an example in the documentation.

[2017-10-01 07:08] gregw commented on #80
@md5 actually switching USER frequently is against [best practises](https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#user).  Perhaps we'd be better off moving `/jetty-start' into `$JETTY_BASE` so it can be written without changing users?

I'll prepare a PR for that....

[2017-10-02 06:56] md5 commented on #80
I'm not sure the advice against switching `USER` frequently really applies here. We only switch it once in the `Dockerfile` for this image and I think having derived images switch to `USER root` to run commands that need `root` before going back to `USER jetty` isn't too bad. I suppose it could get a little out of hand if you had multiple layers of derived images.

As for whether it's actually a g

[2017-10-02 13:25] jeremy-im commented on #80
Aplogies for my terseness in opening this issue. But you got to an understanding of my complaint in spite of that.

For my two cents, I think this is mostly about documentation. An example would cover it. And the README shown at hub.docker.com needs updating. Thanks!

[2017-10-02 22:18] gregw commented on #80
@md5, I'm not sure this is a security issue as anybody that can write to `$JETTY_BASE` has complete control of the server anyway as they can replace any jars etc.

The `jetty.start` contents is just a preprocessed version of what is in `$JETTY_BASE/start.d` and you do not need `root` permission to change that, so it is a bit strange that `root` is needed to pre-process it.   In fact it is a little

[2017-10-02 22:50] md5 commented on #80
@gregw Sorry I wasn't more clear. I agree that having `jetty.start` owned by `jetty` doesn't introduce a new security issue. My intent was to bring up the existing issue that you mention about JARs, config files, etc being writable by the web process.

[2017-10-02 23:55] gregw commented on #80
@md5 OK so you are saying that we should make most of $JETTY_BASE write protected from the `jetty` user, so that you can only change configuration in a Dockerfile by switching to `root`; configuring server; switching back to `jetty`.     I can see reason in that, but we'd have to do an audit of all the jetty modules to make sure that none of them lazily change configuration on startup (I don't thi

[2017-10-04 04:59] md5 commented on #80
I think any change to the permissions can be handled as a separate PR/issue.

My feeling at this point is that it's actually best handled in documentation, either describing how to run the equivalent of your `protect-jetty-base.sh` command (since it can probably be accomplished with `find ... -exec`) or by describing the volumes necessary to run with `--read-only` (i.e. where user `jetty` should a

[2017-10-05 22:29] gregw commented on #80
@md5 is that comment in relation to #81 as it is, or to further changes that have been suggested to protect `$JETTY_BASE`.  If the later, then I totally agree.    I think #81 is a sensible step and means that users need only switch back to `root` for non-jetty related configuration.

[2017-10-05 22:57] md5 commented on #80
I think #81 looks OK. I did just noticed an issue that I'll comment about on that PR.

Aside from that, I'm not sure which comment you're asking about.

[2017-10-06 13:47] #80 closed

[2017-10-11 00:15] gregw opened #82 "Update start module documentation for ?= etc."
The start module documentation needs to be updated to describe:

- The distinction between [ini] and [ini-template] sections
- The ?= optional assignment operator for properties
- The += append operator
- The +=, CSV append operator

The `usage.txt` file has been updated, but not the main documentation.

[2017-10-11 00:15] #82 closed

[2017-10-11 00:15] gregw commented on #82
Wrong project!

[2017-10-31 18:51] tianon commented on #68
So, the `setuid` issue appears to be fixed -- does that mean we can multiarch now? :pray: :smile:

[2017-10-31 21:18] gregw commented on #68
@tianon it is indeed my intention to keep taking steps towards multiarch support, but currently lacking time and test environments to even review exactly what the best approach is.

For my part I  think this is something that can be looked at over the quiet months of December, January.. to at least restructure the build to better support multiarch.  But then individual arch might still need more h

[2017-11-04 02:34] tianon commented on #68
I've just successfully tested `9.4-jre8/Dockerfile` building/running on `arm64v8`, and even ran the `jetty-hello-web` test (https://github.com/docker-library/official-images/blob/9ff50a0ebaff4429c6844bf3d7ee843b7866979a/test/tests/jetty-hello-web/run.sh) against it with a passing result, so that's a good sign. :smile:

[2017-11-07 09:57] vaibhavsood commented on #68
Have done the same for ppc64le, both build and run of the ppc64le container pass for 9.4-jr8/Dockerfile as well as the jetty-hello-web test

[2017-11-10 07:28] vaibhavsood commented on #68
Hi @gregw,

I'm at IBM and can help with getting a public CI nightly build setup for jetty on ppc64le

Want to check if that will be useful?

[2018-01-11 01:08] marodriguez-llbean opened #84 "docker-compose exit 0 when jdwt remote debug settings are passed to jetty"
When the command includes JDWT session, I get exit 0 when running docker-compose up, if the JDWT settings are removed then everything works fine.  Any ideas?

Jetty version:
2018-01-10 23:35:09.811:INFO:oejs.Server:main: jetty-9.4.7.v20170914

This is the error message
$ docker-compose logs -f
Attaching to retail-processor
retail-processor    | Listening for transport dt_socket at address: 9999
re

[2018-02-02 14:20] rvillane commented on #84
instead of "command" , passing all the params within the JAVA_OPTS envar made the trick

[2018-02-02 14:20] #84 closed

[2018-03-28 12:57] daanottink opened #87 "Jetty 9.3-jre8 uses Java version 10"
All the latest Jetty 9.3-jre8 use Java 10. Alpine seems to work

[2018-03-28 13:03] viktorsteinwand commented on #87
I've found this issue now as well. However, it looks like all latest JRE8 non Apline images have the same issue:

[code]

Using the alpine image did help in my case:

[code]

[2018-03-28 13:05] daanottink commented on #87
@viktorsteinwand downgrading to 9.3.21-jre8 worked for us

[2018-03-28 15:30] tianon commented on #87
Looks like this is related to
https://github.com/docker-library/openjdk/issues/180. 😞

[2018-03-28 16:33] tianon commented on #87
Just to update further, we found the source of the issue, and are re-doing builds as quickly as the server can get through them. :heart:

[2018-04-03 16:16] tianon commented on #87
This should have been resolved for several days now. :smile: :+1:

[2018-04-04 08:46] #87 closed

[2018-05-10 05:32] kruton commented on #20
One solution could be using [Conscrypt](https://www.eclipse.org/jetty/documentation/9.4.x/jetty-ssl-distribution.html#jetty-conscrypt-distribution).

[2018-05-21 23:18] #68 closed

[2018-06-25 21:35] arnottcr opened #90 "http/2, alpn setup failure"
The [HTTP/2 Support](https://hub.docker.com/_/jetty/) instructions are currently failing with images based on `9.4.9.v20180320` based images (`jetty:latest`, `jetty:alpine`):
[code]
Should these instructions be updated, or is there a larger failure occurring?

[2018-06-26 01:55] md5 commented on #90
That happens when the JRE/JDK version being used does not yet have a `*.mod` file in the Jetty installation being used. I believe this should be fixed by #91, once it makes it to Docker Hub

[2018-06-26 01:59] md5 commented on #90
Docker Hub update is being tracked in https://github.com/docker-library/official-images/pull/4498

[2018-06-26 17:55] md5 commented on #90
Should be fixed by the latest push

[2018-06-26 17:55] #90 closed

[2018-07-02 17:46] ferreira-alexandre opened #93 "Empty jetty.start file"
I am experiencing a intemitent problem when a start a jetty container: Instead of keep server running the container exits with code 0.

Docker logs shows this message:

`2018-06-29 22:42:57.000:INFO:docker-entrypoint:jetty start from /var/lib/jetty/jetty.start`

Investigating the docker-entrypoint.sh I've discovery that the only point where this message is displayed is inside a if block that check

[2018-07-04 08:30] gregw commented on #93
@ferreira-alexandre I'm a jetty expert, not a docker expert, so I'm struggling to make sense of this issue also - specially the variability of it!!!

So sometimes you create a container and it has an empty jetty.start file - which of course will not start anything.  Sometimes when you create the container, it does work - do you know if this has no jetty.start file or jetty.start file with valid co

[2018-07-04 20:03] ferreira-alexandre commented on #93
Hi @gregw,

When everything works the jetty.start file has valid content, like this one:

[code]

So, I did some research to understand this one (I am not a docker expert also) and found this two Stack Overflow's questions that complement each other:

https://stackoverflow.com/questions/43070640/how-to-link-docker-images-to-their-composing-layers-on-the-disk
https://stackoverflow.com/questions/430

[2018-07-05 07:48] gregw commented on #93
@ferreira-alexandre
So in summary:
 - The base image and your extended image do not include a jetty.start file, nor do they call the `generate-jetty-start.sh` script  (this suggests a work around - when you generate your image, run the `generate-jetty-start.sh` script so it contains known good contents)
 - Working containers do have a valid `jetty.start` file, so this must have been generated by h

[2018-07-05 22:27] ferreira-alexandre commented on #93
@gregw
You where right, the script in fact did ran twice, (probably) concurrently!

I edited the docker-entrypoint.sh and put a `echo STARTING docker-entrypoint.sh` in the first line, rebuilded the image and executed the container until it fails. As expected, the log shows 2 of this messages:

[code]

Thank you very much for this idea of concurrency, I did not think in this approach. Since I didn'

[2018-07-06 08:09] gregw commented on #93
Thanks for confirming the diagnosis!

[2018-07-06 08:09] #93 closed

[2018-08-16 16:31] draeath opened #94 "start.jar explodes: missing/invalid file modules/alpn-impl/alpn-1.8.0_181.mod"
I'm receiving this from the `jetty:9-jre8` tag, which I just pulled a few minutes ago. Image ID in 'docker image ls' is `07b6d9a3f5d2`

[code]

[2018-08-16 16:32] draeath commented on #94
Seems related to #90 and #91 - appears it never made it to Dockerhub (or the fix didn't work)

[2018-08-16 16:48] draeath commented on #94
`jetty:9.4.9-jre8` and `jetty:9.3-jre8` have this problem as well.

[2018-08-16 19:57] draeath commented on #94
Looks like this is an upstream jetty issue. an ALPN for jdk8 u181 does not exist in the distributable tgz.

[2018-08-16 20:05] draeath commented on #94
Reported upstream. https://github.com/eclipse/jetty.project/issues/2819

[2018-08-16 20:05] #94 closed

[2018-12-21 09:49] s17t opened #98 "Any plans for jre11 ?"
As the title. Are there plans for docker-jetty on jre 11 ?

[2018-12-22 03:18] gregw commented on #98
Latest jetty-9.4 releases are jre 11 ready, so I guess we should!  Hopefully soon...
We will also have a jetty-10 release early in the new year that is fully JPMSized

[2018-12-22 03:57] gregw commented on #98
I've created a PR #99 for this (along with upgrade to 9.4.14) and initial quick look seams OK.   @s17t could you give this branch a test?
I have also left out the alpine distribution for jre11 as I'm not sure if that makes sense anymore.

[2018-12-28 08:18] s17t commented on #98
Hello and thank you. I am testing right now and in the next days. I had to work around gid and uid of jetty user: in the alpine distro jetty user has 100:101 uid, gid but in debian it has 1000:1001.

Nothing that can be fixed using usermod/groupmod and chown accordingly. I would state this somewhere in a changelog if the alpine tag will be dropped.

[2018-12-28 08:32] s17t commented on #98
It would made sense for sure since the image size is more than the double now. They are debating about alpine/openjdk11 issue in docker-library/openjdk/issues/211

[2019-01-11 13:36] rajatumrao opened #100 "Issues with Docker Build with 1.8.0_191"
Seeing below error:

java.lang.IllegalStateException: Cannot read file: modules/alpn-impl/alpn-1.8.0_191.mod
	at org.eclipse.jetty.start.Modules.registerModule(Modules.java:202)
	at org.eclipse.jetty.start.Modules.enable(Modules.java:355)
	at org.eclipse.jetty.start.Modules.enable(Modules.java:360)
	at org.eclipse.jetty.start.Modules.enable(Modules.java:377)
	at org.eclipse.jetty.start.Modules.ena

[2019-02-06 04:55] md5 commented on #98
#99 is closed, so Jetty 9.4 with JRE 11 will be available shortly. This is limited to Debian-based images, since Alpine-based images for JRE 11 don't exist yet.

[2019-02-06 04:55] #98 closed

[2019-02-06 04:56] md5 commented on #100
This is solved by #99, which was just merged and will soon push to Docker Hub

[2019-02-06 04:56] #100 closed

[2019-02-06 11:27] rajatumrao commented on #100
Thanks a lot. Expecting new image soon

[2019-02-15 22:39] wenslayer opened #103 "Provide Jetty images based on openjdk:11-jre-slim"
I see the current [jre-11 based Jetty image](https://github.com/appropriate/docker-jetty/blob/1ee7404fbd6c692000ab6fbeb1621ad6280d69ed/9.4-jre11/Dockerfile) is based off [openjdk:11-jre](https://github.com/docker-library/openjdk/blob/df4cff5b79d52fa311d6dff4c874f191996b583c/11/jre/Dockerfile).

To reduce image size, it would be valuable if Jetty images existed that were based off the [openjdk:11-j

[2019-02-17 09:22] gregw commented on #103
@md5 I'm guessing we should just make another variant rather than make everybody use slim?
@wenslayer I'm currently on vacation, so wont get around to this for a few weeks.... but if you wanted to prepare a PR, then I can review and merge if it checks out.

[2019-02-20 07:23] md5 commented on #103
Yeah, I think this would be another variant. It makes sense to me, given the lack of a JDK 11 for Alpine for the time being.

[2019-03-17 10:26] ghost commented on #20
Hello eveyone,

I too have the problem of adding ssl to jetty image in docker container. I just used the below commands to add my local keystore to jetty image. any help would be highly appreciated.
ADD keystore.jks $JETTY_HOME}/etc/keystore/keystore.jks
EXPOSE 8443
RUN java -jar "$JETTY_HOME/start.jar" --create-startd --add-to-start=https,ssl

[2019-03-18 23:37] gregw commented on #20
@VivinrajSundararaj and what goes wrong?  Does the container start? Do you get errors/logs?

[2019-03-19 00:02] gregw commented on #20
@VivinrajSundararaj FYI I was just able to start a HTTPS connector  with:
[code]
So I can see that your keystore is incorrectly named and you have a bracket problem.  Try being explict and put the keystore at `/var/lib/jetty/etc/keystore`

Note you don't need to add the `ssl` module as that is a transient dependency of `https`.  Nor do  you need to create-startd as that is already created.

[2019-03-22 18:24] draeath opened #104 "jetty:9-jre8 SSL no longer works, FIN sent in reply to CLIENT_HELLO"
Specific image ID: `1dc9280cc083`

Jetty starts, and the contexts appear to come up. However, all attempts to access them via SSL fail as follows. Yes, the port is exposed and not firewalled etc - this happens even via localhost.

EDIT: confirmed. `8u181-b13-1~deb9u1` works, `8u181-b13-2~deb9u1` BREAKS, `8u212-b01-1~deb9u1` works again (caveat: have to add an alpn-impl pointing at alpn-boot-8.1.13

[2019-03-22 18:28] draeath commented on #104
For completeness, this is the cas-redirect.war code. It does nothing fancy whatsoever. This problem exists even if this is the only context, and it's put down as ROOT.war.

Done this to rule out the war files I'm trying to use as the source of this trouble.

---

pom.xml:

[code]

---

src/main/java/REDACTED/cas/Redirect.java:

[code]

---

src/main/webapp/WEB-INF/web.xml:

[code]

[2019-03-22 19:35] draeath commented on #104
I'm going to replicate the jetty Dockerfile build using an older openjdk Dockerfile build, to validate.

[2019-03-22 20:30] draeath commented on #104
Couldn't roll back, debian's security repo doesn't have that old package. Can only go forward to 8u212

[2019-03-22 20:49] draeath commented on #104
So, I have no idea why, but the syntax for the GPG command needed to be slightly changed. Namely I needed to provide the key IDs differently, instead of just the fingerprint as a string.

[code]

[2019-03-22 21:23] draeath commented on #104
OK! So bumping the JRE to 8u212 upstream of your own 9-jre8 Dockerfile *fixes this issue*

Note that I did have to drop in an ALPN for this java version - but it seems to work OK. I can't find any details on changes for this java release to really dig any deeper to see if it's really compatible - my gut tells me it's just 202 with the new license.

[2019-03-26 20:17] draeath commented on #104
I suspect the security fixes backported by the debian security team break the mapping of 8u181 to alpn-boot 8.1.12.v20180117.

[2019-05-03 20:06] ghost commented on #20
@gregw I have certificate *.pem file and I have added the file to docker container by the docker command as below

COPY my-domain.pem /etc/ssl/certs/my-domain.pem

docker run -d -p 80:8080 -p 443:8443 -v /home/deploy/backend/ssl:/etc/ssl/certs <docker IMAGE>

Can you please help to provide the steps to make the ssl working in docker container in my local machine?

[2019-05-22 09:16] surli opened #106 "jetty user home is not properly set"
Current jetty images leaves the default home for the jetty user (i.e. /home/jetty) which might lead to various errors when building a custom image from it.

The error is easy to reproduce :
[code]

[2019-05-22 13:03] gregw commented on #106
Happy to define the home directory.... just wondering if it should be `$JETTY_HOME` or `$JETTY_BASE`?   I'm leaning towards `$JETTY_BASE`.

[2019-05-22 13:39] surli commented on #106
IMO it would be less surprising for users to have `$JETTY_HOME` as the jetty user home directory.

[2019-05-22 13:50] gregw commented on #106
I'm looking for other examples in unix.  gdm home is `/var/lib/gdm3` and not `/usr/lib/gdm3/` where the code lives.  `$JETTY_HOME` is equivalent to usr directory and `$JETTY_BASE` is the /var directory in which you expect to make modifications.

... yes they should have been named the other way around...

[2019-05-22 13:56] surli commented on #106
ahah indeed :) so I guess a good compromise might be to indeed use JETTY_BASE as home dir, and to document it in https://docs.docker.com/samples/library/jetty/#environment

[2019-06-13 12:25] rvillane opened #107 "sqlite (used in sqlite-libs) version 3.26.0-r3 has 2 vulnerabilities"
jetty:alpine latest version (JETTY_VERSION=9.4.18.v20190429) is including sqlite (used in sqlite-libs) as a dependency, and this version has 2 security vulnerabilities causing docker images that use jetty:alpine as base image to be flagged by container registry vulnerability scans.

Both vulnerabilities have been fixed in sqlite 3.28.0-r0.

1. CVE-2019-8457

- https://web.nvd.nist.gov/view/vuln/de

[2019-06-19 22:15] tianon commented on #103
At this point this should probably be co-opted to account for https://github.com/docker-library/openjdk/pull/322. :disappointed:

[2019-07-19 14:28] geoffreyharding opened #108 "Mail library included in jetty-jre11 is not compatible with JDK11"
There is a bug in the jetty:9.4-jre11 docker image.

The following runtime error is thrown when using javax.mail.internet.MimeMessage:
[code]

javax.activation was removed from the JDK in Java 11.   Adding javax.activation to the WAR file doesn't fix the runtime bug.  The reason is that Jetty is bundled with its own mail, which overrides the one in the WAR.

The solution is to delete the mail from

[2019-07-19 15:07] gregw commented on #108
@janbartel what did we do to fix this?

[2019-07-19 15:20] janbartel commented on #108
@gregw in jetty-9.4 we have the mail.mod module, which puts javax.mail.glassfish-1.4.1.v201005082020.jar onto the container classpath. That jar contains both the javax.mail apis and the impl. This is tested and working in jdk-11 and beyond.

For jetty-10.0 we have removed the mail.mod module altogether. If users wish to use a javax.mail service the they need to provide their own jar/s, preferably

[2019-07-29 17:58] chergey opened #109 "Docker image for jetty 10"
Hi,
Are there plans to dockerize jetty 10 ?  I tried to replace JETTY_TGZ_URL url in https://github.com/appropriate/docker-jetty/blob/master/9.4-jre11/Dockerfile for jetty 10 but image creation fails with error:

gpg: Signature made Thu 11 Jul 2019 12:21:30 PM UTC using DSA key ID B4372146
gpg: Can't check signature: No public key

[2019-07-29 18:38] joakime commented on #109
Where did you get the image of jetty.tar.gz and jetty.tar.gz.asc?

That key isn't recognized by the the list of keys at
https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/KEYS.txt

[2019-07-29 19:28] chergey commented on #109
From [here](https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-home/10.0.0-alpha0/jetty-home-10.0.0-alpha0.tar.gz). Why is it not recognized ? It this version being developed by other people ?

[2019-09-02 15:31] pstrh opened #111 "TMPDIR /tmp/jetty not used"
It seems that the environment variable `TMPDIR /tmp/jetty` that is set up in the Dockerfile is not used. Instead the /tmp folder (default system property) is used.

[code]

From my understanding the dry-run command that generated the jetty.start configuration must be called with the -Djava.io.tmpdir JVM argument.

[2019-09-06 14:23] pstrh opened #113 "Replace sks-keyservers.net"
Today it seems that the sks-keyservers pool was temporarily unavailable which broke my docker build 😟 In fact the sks-keyservers should no longer be used - see amongst others https://gist.github.com/rjhansen/67ab921ffb4084c865b3618d6955275f

Alternatives:
1. Use the keys.openpgp.org server - unfortunately the keys of the Jetty committers are currently not available there.
2. Put the public keys of

[2019-09-06 15:40] joakime commented on #113
I can ask the jetty committers to publish their keys to there, got any documentation we can follow?

[2019-09-06 15:44] tianon commented on #113
The easiest method IMO is https://keys.openpgp.org/about/usage#gnupg-upload

[2019-09-06 15:54] joakime commented on #113
@tianon thanks!

[2019-09-09 00:12] gregw commented on #113
I've loaded my key into keys.openpgp.org, but I'm also inclined to import them directly to make the build independent of a keyserver... but will follow the examples of other projects.  @md5 your thoughts?

[2019-09-09 00:27] md5 commented on #113
Making the build independent of a keyserver does seem desirable, given how much effort goes into making key fetching more reliable. Given that the key IDs are enumerated anyways, it's not like keeping the keys themselves out of the build gains any flexibility.

[2019-09-09 11:38] olamy commented on #113
a solution I have in mind to share the keys and avoid too many copies is to have an image containing the keys (maybe called jetty:keys) such so we can do something as
[code]

[2019-09-09 13:39] tianon commented on #113
There are some relevant notes in https://github.com/docker-library/faq#openpgp--gnupg-keys-and-verification too.

[2019-09-11 23:31] olamy commented on #113
The fix with pr #114  is to use the image https://github.com/jetty-project/jetty-keys which contains a KEYS file with all the keys so we do not download everything again and again

[2019-10-10 15:12] bcmedeiros commented on #108
Any chances of having some Jetty 10 preview images? I really don't have a workaround without a baseline Docker image that supports Java 11 and doesn't break email.

[2019-10-10 15:54] bcmedeiros commented on #108
Workaround for now:

[code]

[2019-10-11 04:46] gregw commented on #108
@brunojcm we should be doing an jetty-10-alpha1 release next week, so I'll try to get a docker image going as well.... feel free to hassle me if I forget!

[2019-10-11 08:10] bcmedeiros commented on #108
@gregw, thanks for the update! Let me know if you need some help testing.

[2019-10-24 06:29] gregw commented on #103
@tianon can you comment a bit more on the implications of docker-library/openjdk#322 ?

Also, I think it is time to look at jkd13... there are currently slim and buster varieties of that.

[2019-11-13 10:29] vutny opened #117 "Discontinue building the image based on OpenJDK JRE 7"
Although OpenJDK still maintains some JRE/JDK 7 [code updates](https://hg.openjdk.java.net/jdk7u), the latest and greatest ready-to-consume builds are exclusively provided to [RedHat subscribers](https://access.redhat.com/articles/1299013).

Last time the binary package of 7u231 version was available in Debian "jessie" (*oldoldstable*) at [2019-08-22](https://tracker.debian.org/pkg/openjdk-7) (7u2

[2019-11-24 22:43] gregw commented on #117
Fixed with #118

[2019-11-24 22:43] #117 closed

[2019-12-15 20:59] #113 closed

[2019-12-16 06:46] gregw commented on #103
The merge of #121 created the slim images, but has broken the architecture rules.

[2019-12-18 23:06] verglor opened #125 "Old version 9.4.18 in docker hub"
In [docker hub](https://hub.docker.com/_/jetty) there is latest version 9.4.18 however it is [6 versions](https://github.com/eclipse/jetty.project/releases) behind and almost 8 months old.

[2019-12-19 05:17] gregw commented on #125
We have already submitted https://github.com/docker-library/official-images/pull/7134 and are just waiting for it to be reviewed and merged!

[2019-12-19 05:17] #125 closed

[2019-12-19 21:20] gregw commented on #113
https://github.com/docker-library/official-images/pull/7134

[2019-12-19 21:20] gregw commented on #103
https://github.com/docker-library/official-images/pull/7134

[2020-01-22 16:26] milo2048 opened #130 "Container exits immediately when using JDWP in JAVA_OPTIONS"
Running with docker-compose, using jetty:9.4-jre8, when I specify this:
[code]
The Jetty container exits immediately with code 0.  Removing the -agentlib causes it to run normally.

[2020-01-22 16:27] milo2048 commented on #130
I checked out the latest code and rebuilt the image using docker-entrypoint.sh from commit 6938dbcf3c3f1e433fca63909400670a52f39dfe but otherwise using the code in master.  The new image worked as expected.  This leads me to believe the issue is with the latest entrypoint script.

[2020-01-27 05:53] PhantomYdn opened #131 "Jetty on top of Openjdk-8 JDK version"
Hello!
Is it possible to make an image with openjdk-8, but JDK version (not JRE - as it's right now)?
It would be much more convenient for our project.

A little more about use case:  our application [Orienteer](https://github.com/OrienteerBAP/Orienteer) is based on [OrientDB](https://github.com/orientechnologies/orientdb) version 2 - which require Java 8. It's running on JRE, but from time to tim

[2020-01-27 06:38] PhantomYdn commented on #131
PR created #132

[2020-01-27 19:50] rofrance opened #133 "Add jetty 9 images based on AdoptOpenJDK"
Hi,

I would like to know if it's possible to create images based on AdoptOpenJDK instead of the Oracle OpenJDK.

AOJDK Dockerfiles are available here:
https://hub.docker.com/_/adoptopenjdk?tab=description

This would make sure that our devs don't need to build their own Dockerfiles for Jetty and instead rely on the official images available in this repo.

Thanks for your consideration,
Roberto

[2020-03-03 11:57] vmassol commented on #108
@janbartel Hi. You seem to be saying that Jetty 9.4 fixes the problem on JDK11+. However on the XWiki project we're using the Jetty docker image `9` tag (which corresponds to `9.4.27` as of today). Yet we still have the issue, see https://github.com/eclipse/jetty.project/issues/2960#issuecomment-593880571

[code]

Note that we bundle `jakarta.activation-1.2.1.jar` in XWiki's `WEB-INF/lib` director

[2020-03-03 12:10] vmassol commented on #108
Found a solution thanks to a message from @janbartel :)

I've put the following in our `jetty-web.xml`:

[code]

And it worked :)

[2020-03-03 12:25] joakime commented on #108
@vmassol that's old school syntax ([and deprecated](https://github.com/eclipse/jetty.project/blob/jetty-9.4.27.v20200227/jetty-webapp/src/main/java/org/eclipse/jetty/webapp/WebAppContext.java#L687-L702))

Use ...

[code]

[2020-03-03 12:42] vmassol commented on #108
@joakime Thanks a lot! I was too happy to have found a working workaround that I didn't notice it ;)

[2020-03-04 21:44] joakime opened #135 "Stop supporting deprecated versions of Jetty"
Please deprecate and remove listed versions of Jetty that are no longer supported.

See: https://www.eclipse.org/jetty/documentation/current/what-jetty-version.html

All versions of 9.3.x and 9.2.x are deprecated and no longer supported.
The docker images as well should no longer be updated and even listed on hub.docker.com as supported tags.

[2020-03-09 08:40] gregw commented on #135
@joakime really?   While there is no intention to maintain and upgrade those images, preserving them for durable builds is desirable.  We don't remove 9.2 and 9.3 from maven central so why should we remove them from official images?     Let's research what the policy is for other docker official images.

[2020-03-09 08:43] gregw opened #136 "Move official docker-jetty project to the jetty project"
It has been fantastic that jetty-docker was created and maintained by appropriate, but I think it now is falling a little into the cracks between appropriate, eclipse and webtide.
It would probably be better maintained and more responsive if moved either to the jetty project itself or to webtide (the primary maintainer of jetty).

[2020-03-09 17:20] joakime commented on #135
I'm not saying remove the images from hub.docker.com, i'm saying remove them from the "supported tags" document shown https://hub.docker.com/_/jetty

We still have Jetty 7 <sup>(1)</sup> and Jetty 8 <sup>(2)</sup> images around, but we don't say they are supported.

1. https://hub.docker.com/_/jetty?tab=tags&page=1&ordering=-last_updated&name=7
2. https://hub.docker.com/_/jetty?tab=tags&page=1&ord

[2020-03-10 11:35] gregw commented on #135
OK, so we need to create a PR against https://github.com/docker-library/docs/tree/master/jetty
I'll do that.

[2020-03-10 12:33] gregw commented on #135
Hmmm that section of the README.md is auto generated.    So not sure how we do this short of just removing 9.2 and 9.3

[2020-03-11 12:20] ngvtsn commented on #130
Same. Looks like `docker-entrypoint.sh --dry-run` generates wrong jetty.start

[2020-03-20 09:53] mimatn commented on #20
I had to work on this setup for work, and since I obtained something that works, maybe someone may find it useful here.

You need:
* `ssl.ini` and `https.ini` as explained [in the docs](https://www.eclipse.org/jetty/documentation/9.4.x/jetty-ssl-distribution.html#jetty-conscrypt-distribution)
* certificates of all the intermediary CAs that you may have used, so that a complete chain to a valid roo

[2020-03-20 11:14] rvesse commented on #20
@mimatn That's really helpful, have actually been working on something similar this last week myself and figured out much the same

One other gotcha that people should be aware of is that Jetty defaults to assuming a JKS format key store, if you are using Java 9+ as the JDK in your image then the default format becomes PKCS12 and trying to start Jetty with a Keystore in that format will produce st

[2020-03-20 15:16] joakime commented on #20
@rvesse Jetty will just use `java.security.KeyStore`, which supports both JKS and PKCS12 since Java 8 (along with OS specific options as well).

https://docs.oracle.com/javase/8/docs/api/java/security/KeyStore.html

[2020-04-24 14:08] sittingbool commented on #130
Same here, how can i resolve this?

[2020-06-03 07:40] acutus opened #137 "jetty 9.4.29 released"
Hi,

Newer versions of jetty 9.4 (jetty-9.4.28.v20200408 and jetty-9.4.29.v20200521) have been released. I was wondering if we could get tags for those (or just .29) in the official images?

[2020-06-08 16:19] joakime commented on #20
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/2

[2020-06-08 16:28] joakime commented on #21
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/3

[2020-06-08 16:29] joakime commented on #35
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/4

[2020-06-08 16:29] joakime commented on #54
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/5

[2020-06-08 16:30] joakime commented on #103
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/6

[2020-06-08 16:30] joakime commented on #104
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/7

[2020-06-08 16:30] joakime commented on #106
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/106

[2020-06-08 16:31] joakime commented on #107
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/9

[2020-06-08 16:31] joakime commented on #108
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/10

[2020-06-08 16:31] joakime commented on #109
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/11

[2020-06-08 16:32] joakime commented on #130
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/12

[2020-06-08 16:32] joakime commented on #131
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/13

[2020-06-08 16:33] joakime commented on #133
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/14

[2020-06-08 16:33] joakime commented on #135
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/15

[2020-06-08 16:34] joakime commented on #136
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/16

[2020-06-08 16:34] joakime commented on #137
This issue has been moved to the new Official Eclipse Jetty Docker repository.

See https://github.com/eclipse/jetty.docker/issues/17

[2020-06-08 16:54] WalkerWatch commented on #136
@md5 As part of the migration, Eclipse is sure to reach out for permission/legalese regarding this contribution/movement of code to their repo. To get ahead of that, is there any chance you can fill out an [Eclipse Contributor Agreement](https://www.eclipse.org/legal/ECA.php)?

[2020-06-26 00:40] lachlan-roberts commented on #136
There has now been a release from [eclipse/jetty.docker](https://github.com/eclipse/jetty.docker), and https://hub.docker.com/_/jetty now points to the eclipse repository as well.

So as a final step in this repository, all issues which have been migrated to [eclipse/jetty.docker](https://github.com/eclipse/jetty.docker) should be closed and the project should be marked as archived.

[2020-06-28 17:51] #20 closed

[2020-06-28 17:51] #21 closed

[2020-06-28 17:51] #35 closed

[2020-06-28 17:51] #54 closed

[2020-06-28 17:51] #103 closed

[2020-06-28 17:51] #104 closed

[2020-06-28 17:51] #106 closed

[2020-06-28 17:51] #107 closed

[2020-06-28 17:51] #108 closed

[2020-06-28 17:51] #109 closed

[2020-06-28 17:51] #130 closed

[2020-06-28 17:51] #131 closed

[2020-06-28 17:51] #133 closed

[2020-06-28 17:51] #135 closed

[2020-06-28 17:51] #136 closed

[2020-06-28 17:51] #137 closed